
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.border-input-default {
    border: 1px solid #ced4da;
}
.navbar__bg {
    background-color: #d23055;;
}

.drop__menu {
    right: 40px;
    left: auto;
}

.logo {
    width: 55px;
}
.logo__text {
    margin-top: 5px;
    margin-left: -4px;
    font-weight: bolder;
    letter-spacing: 1px;
}

.logo__small-text {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    position: absolute;
    margin: 29px 0 0 -115px;
}
.small__text {
    font-size: 12px;
    font-weight: normal;
}
.avto__logo {
    width: 60px;
    margin-top: 7px;
}

.avto__small_logo {
    max-width: 35px;
    max-height: 80%;
    margin-top: 7px;
}

.avto__small_text {
    font-size: 1.3rem;
    font-weight: bolder;
    color: #623e30;
    letter-spacing: 1px;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

.user__nav-image-parent {
    width: 50px;
    border-radius: 50%;
}

.user__nav-image-svg {
    width: 37px;
    border-radius: 50%;
}
.user__nav-image {
    border-radius: 50%;
}

.border__b {
    color: #343434;
}

.border__bottom_clear {
    border-bottom: #ffffff solid 4px;
    margin-bottom: -1px;
}
.title__text {
    color: #1f1f1f;;
    /*font-weight: bold;*/
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

.button__to {
    font-size: 0.9rem;
    font-weight: 520;
    letter-spacing: 2px;
    background-color: #69bb10;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

.text__size {
    font-size: 0.8rem;
}

.badge__font_size {
    font-size: 13px;
}
.badge__bg {
    background-color: #219533;
}

.list__style {
    list-style: none;
}

.model__types_text {
    overflow: hidden;
    display: inline-block;
    max-width: 160px;
    margin-bottom: 5px;
    color: #186d9f;
    text-decoration: none;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 15px;
    vertical-align: top;
    white-space: nowrap;
}

.modal__image {
    max-width: 155px;
}

/* Announce index left-bar */
.left__bar-bg {
    background-color: #e9ecef;
}

.flash__bg {
    background-color: #eee !important;
}
.flash__shadow {
    box-shadow: 0 0 1px 0 rgba(154, 147, 140, 0.5);
}
.flash__image {
    width: 100px;
}

.flash__texpass {
    letter-spacing: 1.5px;
}

.register__number-size {
    width: 90px;
}

.modal__regiser {
    box-shadow: 0px 2px 2px -1px #7b7a7a;
}

.display__contents {
    display: contents;
}

.register__title {
    margin: 4px 0 0 15px;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.register__check {
    outline: none;
}

.register__check-log {
    color: #ff3e3e;
    letter-spacing: 1px;
    padding: 8px 8px 8px 8px;
    font-weight: bold;
}

.register__check-reg {
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 10px 10px 10px;
}

.buyer__profil {

}

.seller__profile-image {
    width: 180px;
    margin: 20px 0 0 0;
}

.outline__none {
    outline:none;
}

.text__bold {
    font-weight: bolder;
}

.not__announce {
    letter-spacing: 1.5px;
}

.annonce_panel {
    display: block;
    margin-bottom: 0;
    height: 40px;
    background: #e34267;
    z-index: 1001;
}

.annonce_panel-element {
    position: relative;
    padding: 0;
    color: #ffffff;
    display: inline-flex;
    border-right: #ffffff 1px solid;
}

.annonce__panel-a {
    padding: 10px 15px 4px 15px;
    text-decoration: none;
    color: #ffffff;
}
.annonce__panel-a:hover {
    padding: 10px 15px 4px 15px;
    color: #d6d6d6;
}

.annonce__btn_for_all {
    height: 48px;
    position: absolute;
    border-radius: 0;
    padding-top: 11px;
    background-color: #3ac857;
    margin: -5px 0 -9px -198px;
    box-shadow: -2px 1px 3px 0 #959595;
}

.annonce__btn_for_all-text {
    margin: 2px 0 0 0;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
}

.annonce__btn_for_all-a {
    color: #ffffff;
    text-decoration: none;
}
.annonce__btn_for_all-a:hover {
    color: #ffffff;
    text-decoration: none;
}

.modal__main-title {
    letter-spacing: 1px;
    font-size: 17px;
    padding: 6px 0 3px 10px;
    margin: 0;
    color: #888;
}

.spare__parts {
    letter-spacing: 1px;
}

.send__to-element {
    margin: 0 2px 0 2px;
}

.send__all-image {
    width: 20px;
    border-radius: 15%;
}

.send__title {
    font-size: 16px;
    letter-spacing: 1.5px;
}

.send__all-td {
    vertical-align: bottom;
}

.letter__spacing {
    letter-spacing: 1.5px;
}
.show__seller-image {
    width: 40px;
    border-radius: 12%;
}

.show__all-name {
    left: 35px;
    top: 24px;
}

.border__danger {
    border: 1px solid #e3342f !important;
}

.answer__modal-bg {
    background-color: #f7f4f4;
    box-shadow: 0 3px 11px 0 #8c8c8c;
    /*z-index: 10001;*/
}

.z__index-1 {
    z-index: 10011;
}

.show__sellers-answers {
    box-shadow: -1px -1px 3px -1px #000;
}

.answer__seller {
    color: #623e30;
    font-size: 17px;
    letter-spacing: 1px;
}

.answer__which {
    margin: 8px 15px 0 0;
}

.answer__price-div {
    padding: 5px 10px 3px 9px;
    background-color: #ff6617;
    color: #fff;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.answer__price-div-for-seen {
    padding: 5px 10px 3px 9px;
    color: #fff;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.answer__spare-parts {
    color: #37251e;
    letter-spacing: 0.5px;
}

.answer__price {
    font-size: 17px;
}

.answer__price-currency {
    font-size: 12px;
}
    .new__price-el {
        font-size: 9px;
        margin-right: 4px;
        padding: 5px 4px 3px 4px;
    }

.answer__phone-div {

}
    .answer__phone-a {
        color: #105288;
    }

.answers__time-show {
    position:absolute;
    margin: -12px 0 0 -66px;
    color: #6a6a6a;
    font-size: 13px;
}

.vertical__align {
    vertical-align: middle;
}

.show__seller-text {
    font-size: 1.1em;
    color: #0a0abf;
    background-color: #edf2f7;
}
